
@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<h3>Password reset</h3>
<h5>An email has been sent to @ViewBag.Email with instruction how to reset your password. You may close this now </h5>

