@charset "utf-8";

#login-container {
	position: absolute;
	top: 300px;
	left: 400px;
	right: 400px;
}

#login {
	vertical-align: middle;
	width: 400px;
	height: 700px;
	margin: 0 auto;
}
button {
	background-color: #11bad3;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}
button:hover {
	opacity: 0.8;
}
input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
.container {
	padding: 16px;
}
span.psw {
	float: right;
	padding-top: 16px;
}
span.psw {
	display: block;
	float: none;
}
.cancelbtn {
	width: 100%;
	padding: 10px 18px;
	background-color: #f44336;
}
